*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

input::placeholder {
  color: #3c2d2d !important;
}

body {
  width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  background-color: #fff;
  color-scheme: light
}

#app {
  width: 100%;
  margin: 0 auto;
}

.q-layout {
  margin: 0 auto;
}

.q-page-container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  background-color: $SystemGray;
  overflow: auto;

  .page {
    height: 100%;
    overflow-y: auto;
  }
}