*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 768px;
  min-height: 100dvh;
  margin: 0 auto;
  background-color: #fff;
  color-scheme: light
}

#app {
  width: 100%;
  margin: 0 auto;
}